@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" class="bg-color">Welcome</h1>
    <h2>Instructions to use the app</h2>
    <p>some information i will write someday</p>
</div>
