@{
    ViewData["Title"] = "Privacy Policy";
}
<h2 style="text-align:center">ABOUT THE PROJECT</h2>
<br/>
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="~/ProjectPic.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Picture of the project</h5>
                <p>Real picture of hardware part of the project.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/ArduinoScheme.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Scheme of harware part of the ptoject</h5>
                <p>A basic scheme of the Arduino and his connections.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/CodeScheme.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Scheme of code</h5>
                <p>Basic code scheme of the hardware part.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br/>
<div class="row">
    <div class="col" style="margin-inline-end">
        <div class="card" style="width: 18rem;">
            <img src="~/imgs/DHT11.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DHT11 MODULE</h5>
                <p class="card-text">This module can measure humidity and temperature via digital way.It's known for low-cost and budget modul for starting.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="~/imgs/491.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">ARDUINO MICROCONTROLER</h5>
                <p class="card-text">Arduino is the most popular microcontroler. Everyone who is intrested in the engineerind world have heard it at least ones.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="~/imgs/4relay.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">4 RELAY MODULE</h5>
                <p class="card-text">Works really simple. Its nice and safe way to use thing with bigger volts</p>
            </div>
        </div>
    </div>
</div>