html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #c3c3c3;
}
hr {
    margin:auto;
    background-color: #7092be;
}
footer {
    background-color: #7092be;
}
header {
    background-color: #7092be;
}

