@model IEnumerable<DiplomenProekt.Models.TempReadingViewModel>
<h1> Here is your last saves:</h1>
<hr/>
@**@
<table class="table table-bordered" style="border-color:black">
    <tr>
        <th>The Id of the record</th>
        <th>Temperature of save</th>
        <th>Recorded time of save</th>
        </tr>
    @foreach(var item in Model)
    {
      <tr>
        <td>@item.Id</td>
        <td>@item.ReadedTemper +/-0.2  degrese</td>
        <td>@item.RecordTime</td>
    </tr>
    }
</table>