@*
    /*
    Add temp of last record
    add 2 btns Heat and Cool
    (setting the temperature with the 2 btns)
    */
*@
@model TempReadingViewModel
<h1> Here is your temperature control panel:</h1>
<hr />
    <h4>Temperature of save here is the last recorded temperature: @Model.ReadedTemper</h4>
    <h5>Recorded at: @Model.RecordTime</h5>
    <button OnClick="Heat()"> Heat</button>
    <button onclick="Cool()"">Cool </button>


<script type="text/javascript">
   function Heat() {
        $.ajax({
            type: "GET",
            url: "/Arduino/Heat",           
        });


          function Cool() {
        $.ajax({
            type: "GET",
            url: "/Arduino/Cool",           
        });
     <script>

